hal_openalex_par_labo.csv
hal_openalex_uniques.csv
hal_publications copie 2.ipynb
auteurs_LIS_2022.csv
.gitignore
hal_works_LIS_2022.csv
openalex_works_LIS_2022.csv
notebook_state.pkl
labo_identifiants.csv
labo_identifiants Enrichi.csv
labo_identifiants Enrichi.numbers.pdf
labo_identifiants Enrichi.numbers
labo_auteurs_2024.csv
